body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 40px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 15px 0px;
    flex: 0 0 auto;
}

.main-body {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #004c3f;
    color: white;
    overflow: hidden;
    text-align: center;
}

.content {
    padding: 5px 25px;
}

a#github {
    justify-self: end;
    margin-top: auto;
}

