body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 40px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 15px 0px;
    flex: 0 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px 15px;
    border: 1px solid #000;
}

.main-body {
    display: flex;
}

.sidebar {
    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #004c3f;
    color: white;
    overflow: hidden;
    text-align: center;
    flex-shrink: 0;
}

.content {
    padding: 5px 25px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.dashboard-card {
    width: 250px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

.dashboard-card-inventory {
    margin-top: 8px;
    font-weight: lighter;
    color: rgb(31, 31, 31);
}

.items-table {
    margin-bottom: 10px;
}

.new-overlay, .edit-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.item-form {
    width: 40%;
    height: 60%;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button#new-item {
    font-size: large;
    background-color: #004c3f;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

a#github {
    justify-self: end;
    margin-top: auto;
}

