<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='script/home.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inventory Manager</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="main-body">
            <div class="sidebar">
                <h2>Inventory Manager</h2>
                <a href="/" id="home">Dashboard</a>
                <a href="/items" id="items">Items</a>
                <a href="/warehouses" id="warehouses">Warehouses</a>

                <a href="https://github.com/schau1121" id="github">
                    <img class="github" src="{{ url_for('static', filename='img/github.png') }}">
                </a>
            </div>

            <div class="content">
                <div class="header-block">
                    <h1>Dashboard</h1>
                </div>
                <div class="cards">
                    This is where you will be notified if there are any items with low inventory.
                </div>
            </div>
        </div>
    </div>
</body>
</html>